venv/

.DS_Store

token.txt
auth.py
blog.py
db.py
schema.sql

textgrips/templates/blog/
textgrips/templates/auth/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

*.sublime-project
*.sublime-workspace
